@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.wsp-icon {
    height: 50px;
    width: 50px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 2000;
    border-radius: 80%;
}

header {
    position: fixed;
    top: 0; right: 0; left: 0;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    position: relative;
}


header ul li a {
    font-size: 20px;
    margin: 0 10px;
    color: #333;
    display: block;
    text-decoration: none;
    padding: 10px 5px;
}

header ul li a:hover {
    background-color: #968154;
    color: #fff;
}

header ul li ul {
    position: absolute;
    left: 0;
    width: 300px;
    background-color: #fff;
    display: none;
    padding: 0;
}

header ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.1);
}

header ul li:focus-within > ul,
header ul li:hover > ul {
    display: initial;
}

#menu-bar {
    display: none;
}

header label {
    font-size: 10px;
    color: #333;
    cursor: pointer;
    display: none;
}

.banner {
    position: relative;
    width: 100%;
    height: calc(75vh - 55px);
    background-color: #f5f5f5;
    background-size: cover;
    background-position: center;
    transition: all .1s ease-in-out;
    background-image: url("./images/fondo-contable.jpg");
    text-align: center;
}

.banner-content {
    margin-top: 20px;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #FFF;
    background-color: rgba(0, 22, 40, .6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-content h1 {
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    font-size: 40px;
    text-align: center;
}

.banner-content a {
    text-decoration: none;
    color: #fff;
    padding: 9px 20px;
    border: 1px solid #fff;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}

.banner-content a:hover {
    background-color: #fff;
    color: #333;
}

#nosotros {
    margin-top: 15px;
}

h3 {
    margin-top: 10px;
    text-align: center;
}

h3::after {
    content: "";
    display: block;
    width: 100px;
    height: 4px;
    background-color: #968154;
    margin: 5px auto;
}

.nosotros-info {
    width: 80%;
    margin: 0 auto;
}

#socios {
    margin-top: 20px;
}

.personal {
    margin: 0 10px;
    width: 500px;
    height: 150px;
    border-radius: 10px;
    text-align: center;
}

.personal-nombre {
    margin-top: 5px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.personal-info {
    font-size: .85em;
}

#juridico {
    margin-top: 40px;
    padding: 15px 0;
    background-color: #f1f2f2;
}

.servicios-cont {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.servicios {
    border: 2px solid #000;
    margin: 10px 20px;
    width: 400px;
    height: 200px;
    text-align: center;
    overflow: hidden;
}

.servicios img {
    width: 100%;
    height: 70%;
}

#contable {
    margin-top: 30px;
    padding: 15px 0;
    background-color: #fff;
}

.servicios-info {
    background-color: #fff;
    height: 30%;
    transition: all .3s ease-in-out;
    padding: 10px 0;
}

.servicios-info ul {
    columns: 2;
    margin-top: 25px;
    font-size: .75em;
}

.servicios:hover .servicios-info {
    height: 100%;
    transform: translateY(-70%);
}

#contacto {
    background-color: #f1f2f2;
    padding: 15px 0;
}

.contacto iframe {
    width: 100%;
    margin: 10px auto;
}

.copyright {
    border-top: 2px solid #eee;
    text-align: center;
    font-size: .75em;
    padding: 5px 0;
    margin: 0;
}

@media screen and (min-width: 1000px) {
    #navbarNav {
        display: flex;
        justify-content: end;
    }
}

@media screen and (max-width: 998px) {
    header label {
        display: initial;
    }

    header nav {
        position: absolute;
        top: 100%; left: 0; right: 0;
        background-color: #fff;
        border-top: 1px solid rgba(0,0,0,.1);
        display: none;
    }

    header nav ul li {
        width: 100%;
    }

    header nav ul li ul {
        position: relative;
        width: 100%;
        margin:0;
        padding: 0;
    }

    header nav ul li ul li {
        background-color: #eee;
    }

    #menu-bar:checked ~ nav {
        display: initial;
    }

    #menu-bar:checked ~ nav ul {
        display: flex;
        flex-direction: column;
    }

    #menu-bar:checked ~ nav ul li {
        width: 100%;
        border-top: none;
    }

    #menu-bar:checked ~ nav ul li ul{
        display: none;
    }

    #menu-bar:checked ~ nav ul li:hover ul{
        display: initial;
        transition: all .3s ease-in-out;
    }
}

@media screen and (max-width: 768px) {
    .dropdown-toggle {
        margin-top: 0;
        padding: 0;
    }

    ul.dropdown-menu {
        border: none;
        border-top: 1px solid #968154;
        border-bottom: 1px solid #968154;
        border-radius: 0;
    }

    .personal-cont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .personal {
        margin-top: 15px;
    }

    .nosotros-info {
        width: auto;
        margin: 0 10px;
    }

    .contacto {
        display: flex;
        flex-direction: column;
    }

    #contacto iframe {
        width: 100%;
        margin: 10px 0;
    }
}

@media screen and (max-width: 500px) {
    .personal {
        width: 280px;
    }
}